<div class="formulario-container">
    <h2 class="titulo">OTROS ESTUDIOS / OTHER STUDIES</h2>
    <form class="formulario">
      <div class="fila">
        <div class="columna">
          <mat-form-field class="campo">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre" name="nombre" required [(ngModel)]="nombre">
          </mat-form-field>
        </div>
  
        <div class="columna">
          <mat-form-field class="campo">
            <mat-label>Organizacion</mat-label>
            <input matInput placeholder="Organizacion" name="organizacion" required [(ngModel)]="organizacion">
          </mat-form-field>
        </div>
  
        <div class="columna">
          <mat-form-field class="campo">
            <input matInput [matDatepicker]="pickerInicio" name="fechaIni" placeholder="Selecciona fecha de inicio" required [(ngModel)]="fechaIni">
            <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
            <mat-datepicker #pickerInicio></mat-datepicker>
          </mat-form-field>
        </div>
        
        <div class="columna">
          <mat-form-field class="campo">
            <input matInput [matDatepicker]="pickerFin" name="fechaFin" placeholder="Selecciona fecha de fin" required [(ngModel)]="fechaFin">
            <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
            <mat-datepicker #pickerFin></mat-datepicker>
          </mat-form-field>
        </div>
        
        <div class="columna">
          <mat-form-field class="campo">
            <textarea matInput placeholder="Descripción" name="descripcion" required [(ngModel)]="descripcion"></textarea>
          </mat-form-field>
        </div>
      </div>
  
      <button mat-raised-button color="primary" class="boton" (click)="guardarCurso()">Guardar Curso</button>
    </form>
  
    <div class="example-container mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
      
          <!-- Definición de las columnas -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{ element.nombre }} </td>
          </ng-container>
      
          <ng-container matColumnDef="organizacion">
            <th mat-header-cell *matHeaderCellDef> Organización </th>
            <td mat-cell *matCellDef="let element"> {{ element.organizacion }} </td>
          </ng-container>
      
          <ng-container matColumnDef="fechaIni">
            <th mat-header-cell *matHeaderCellDef> Fecha Inicio </th>
            <td mat-cell *matCellDef="let element"> {{ element.fechaIni | date:'dd-MM-yyyy' }} </td>
          </ng-container>
      
          <ng-container matColumnDef="fechaFin">
            <th mat-header-cell *matHeaderCellDef> Fecha Fin </th>
            <td mat-cell *matCellDef="let element"> {{ element.fechaFin | date:'dd-MM-yyyy' }} </td>
          </ng-container>
      
          <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef> Descripción </th>
            <td mat-cell *matCellDef="let element"> {{ element.descripcion }} </td>
          </ng-container>
      
          <!-- Columna para el botón de eliminar -->
          <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef> Eliminar </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="warn" (click)="eliminarElemento(element)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
      
          <!-- Definir el orden de las columnas -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>    
</div>
  