<div class="formulario-container">
    <h2 class="titulo">Datos Personales</h2>
    <form class="formulario">
      <div class="fila">
        <div class="columna">
          <mat-form-field class="campo">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre" required>
          </mat-form-field>
        </div>
        <div class="columna">
          <mat-form-field class="campo">
            <mat-label>Apellidos</mat-label>
            <input matInput placeholder="Apellidos" required>
          </mat-form-field>
        </div>
      </div>
      <div class="fila">
        <div class="columna">
          <mat-form-field class="campo">
            <mat-label>Nacionalidad</mat-label>
            <input matInput placeholder="Nacionalidad" required>
          </mat-form-field>
        </div>
        <div class="columna">
          <mat-form-field class="campo">
            <mat-label>Edad</mat-label>
            <input matInput placeholder="Edad" type="number" min="18" required>
          </mat-form-field>
        </div>
      </div>
      <button mat-raised-button color="primary" class="boton">Enviar</button>
    </form>
  </div>
  