<div class="formulario-container" id="datospersonales">
  <h2 class="titulo">DATOS PERSONALES / PERSONAL DATA</h2>
  <h3 class="campo">{{ languageTexts.indicacion }}</h3>
  <form autocomplete="on" class="formulario" (focusout)="handleBlurEvent()">
    <div class="fila">
      <div class="columna">
        <mat-form-field class="campo">
          <mat-label>{{ languageTexts.nombre }}</mat-label>
          <input matInput placeholder="{{ languageTexts.nombre }}" required [(ngModel)]="nombre" name="nombre" (input)="handleBlurEvent()">
          <mat-error *ngIf="!nombre">{{ languageTexts.obligatorio }}</mat-error>
        </mat-form-field>
      </div>
      <div class="columna">
        <mat-form-field class="campo">
          <mat-label>{{ languageTexts.apellidos }}</mat-label>
          <input matInput placeholder="{{ languageTexts.apellidos }}" required [(ngModel)]="apellidos" name="apellidos" (input)="handleBlurEvent()">
          <mat-error *ngIf="!apellidos">{{ languageTexts.obligatorio }}</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="fila">
      <div class="columna">
        <mat-form-field class="campo">
          <mat-label>{{ languageTexts.nacionalidad }}</mat-label>
          <input matInput placeholder="{{ languageTexts.nacionalidad }}" required [(ngModel)]="nacionalidad" name="nacionalidad" (input)="handleBlurEvent()">
          <mat-error *ngIf="!nacionalidad">{{ languageTexts.obligatorio }}</mat-error>
        </mat-form-field>
      </div>
      <div class="columna">
        <mat-form-field class="campo">
          <mat-label>{{ languageTexts.edad }}</mat-label>
          <input matInput placeholder="{{ languageTexts.edad }}" type="number" min="18" required [(ngModel)]="edad" name="edad">
          <mat-error *ngIf="!edad">{{ languageTexts.obligatorio }}</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="fila">
      <div class="columna">
        <mat-form-field class="campo">
          <mat-label>{{ languageTexts.ciudad }}</mat-label>
          <input matInput placeholder="{{ languageTexts.ciudad }}" required [(ngModel)]="ciudad" name="ciudad" (input)="handleBlurEvent()">
          <mat-error *ngIf="!ciudad">{{ languageTexts.obligatorio }}</mat-error>
        </mat-form-field>
      </div>
      <div class="columna">
        <mat-form-field class="campo">
          <mat-label>{{ languageTexts.pais }}</mat-label>
          <input matInput placeholder="{{ languageTexts.pais }}" required [(ngModel)]="pais" name="pais" (input)="handleBlurEvent()">
          <mat-error *ngIf="!pais">{{ languageTexts.obligatorio }}</mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
