:host ::ng-deep .cv-content {
  font-family: 'Arial', sans-serif;
}

:host ::ng-deep .header {
    display: block;
    align-items: center;
    width: 100%;
}

:host ::ng-deep .header-logo {
    width: 120px;
}

:host ::ng-deep .header-title {
    flex: 1;
    text-align: right;
    font-family: 'Franklin Gothic Medium Cond';
    font-size: 18px;
    color: #31DCFE !important;
    margin-right: 100px;
}

/* Estilos para las secciones */
:host ::ng-deep .section-title {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium Cond';
    font-size: 20px;
    margin-top: 2%;
}

:host ::ng-deep .section {
    display: flex;
    margin-top: 15px;
    border-bottom: 1px solid black;
}

:host ::ng-deep .section-content {
    display: flex;
    margin-top: 10px;
    font-family: 'Arial';
    font-size: 18px;
}

/* Estilos para listas */
:host ::ng-deep .list-item {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-family: 'Arial';
    font-size: 18px;
}

:host ::ng-deep .list-item label {
    margin-right: 10px;
}
