<div class="formulario-container">
    <h2 class="titulo">UNIVERSIDAD / UNIVERSITY</h2>
    <form class="formulario">
      <div class="fila">
        <div class="columna">
          <mat-form-field class="campo">
            <mat-label>{{ languageTexts.universidad }}</mat-label>
            <input matInput placeholder="Universidad" name="universidad" required [(ngModel)]="universidad">
            <mat-error *ngIf="!universidad">{{ languageTexts.obligatorio }}</mat-error>
          </mat-form-field>
        </div>

        <div class="columna">
            <mat-form-field class="campo">
              <mat-label>{{ languageTexts.carrera }}</mat-label>
              <input matInput placeholder="Carrera" name="carrera" required [(ngModel)]="carrera">
              <mat-error *ngIf="!carrera">{{ languageTexts.obligatorio }}</mat-error>
            </mat-form-field>
          </div>
  
        <div class="columna">
          <mat-form-field class="campo">
            <input matInput [matDatepicker]="pickerIn" name="fechaIni" placeholder="{{ languageTexts.fechaIniU }}" required [(ngModel)]="fechaIni">
            <mat-datepicker-toggle matSuffix [for]="pickerIn"></mat-datepicker-toggle>
            <mat-datepicker #pickerIn></mat-datepicker>
            <mat-error *ngIf="!fechaIni">{{ languageTexts.obligatorio }}</mat-error>
          </mat-form-field>
        </div>

        <div class="columna">
          <mat-form-field class="campo">
            <input matInput [matDatepicker]="pickerInicio" name="generacion" placeholder="{{ languageTexts.fechaFinU }}" required [(ngModel)]="generacion">
            <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
            <mat-datepicker #pickerInicio></mat-datepicker>
            <mat-error *ngIf="!generacion">{{ languageTexts.obligatorio }}</mat-error>
          </mat-form-field>
          <!-- Agregar botón para establecer la fecha actual -->
          <span>{{ languageTexts.fechaActual }}</span>
          <button mat-button matSuffix (click)="setFechaActual()">{{ languageTexts.actual }}</button>
        </div>
        
      </div>
  
      <button mat-raised-button color="primary" class="boton" (click)="guardarEstudio()">Guardar Estudio</button>
    </form>
  
    <div class="example-container mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
      
          <!-- Definición de las columnas -->
          <ng-container matColumnDef="universidad">
            <th mat-header-cell *matHeaderCellDef> Universidad </th>
            <td mat-cell *matCellDef="let element"> {{ element.universidad }} </td>
          </ng-container>
      
          <ng-container matColumnDef="carrera">
            <th mat-header-cell *matHeaderCellDef> Carrera </th>
            <td mat-cell *matCellDef="let element"> {{ element.carrera }} </td>
          </ng-container>
      
          <ng-container matColumnDef="fechaIni">
            <th mat-header-cell *matHeaderCellDef> Fecha Inicio </th>
            <td mat-cell *matCellDef="let element"> {{ element.fechaIni | date:'dd-MM-yyyy' }} </td>
          </ng-container>

          <ng-container matColumnDef="generacion">
            <th mat-header-cell *matHeaderCellDef> Fecha Generación </th>
            <td mat-cell *matCellDef="let element"> {{ element.generacion | date:'dd-MM-yyyy' }} </td>
          </ng-container>
      
          <!-- Columna para el botón de eliminar -->
          <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef> Eliminar </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="warn" (click)="eliminarElemento(element)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
      
          <!-- Definir el orden de las columnas -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>    
</div>
  