.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar {
  background-color: #33CEFF; /* Rojo */
}
.mat-toolbar span {
  color: black; /* Color del texto negro */
}
::ng-deep .mat-select-value {
  color: black !important;
}

::ng-deep .mat-form-field-label {
  color: black !important;
}
.custom-select .mat-select-value {
  color: black !important;
}

.spacer {
  flex: 1; /* Esto crea un espacio flexible entre "CV" y el selector de idioma */
}

.small-select {
  width: 150px; /* ajusta el ancho según sea necesario */
  font-size: 12px; /* ajusta el tamaño de fuente según sea necesario */
}
