.formulario-container {
    border: 1px solid #ccc; /* Agrega un borde */
    padding: 20px; /* Agrega un espacio alrededor del contenido */
    margin-bottom: 20px; /* Agrega espacio en la parte inferior */
}
